body{
    margin:0;
    font-family: Arial;
    background:black;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.summary-container{
    background:#111;
    width:420px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 30px rgba(255,69,0,0.4);
}
h1{
    text-align:center;
    margin-bottom:20px;
    color:orangered;
}
.item{
    display:flex;
    justify-content:space-between;
    padding:10px;
    margin-bottom:10px;
    background:#1f1f1f;
    border-radius:8px;
    animation: slideUp 0.5s ease;
}
.item span{
    font-size:14px;
}
.finalTotal{
    text-align:center;
    margin-top:20px;
    font-size:18px;
    color:lime;
}
.doneBtn{
    width:100%;
    margin-top:20px;
    padding:14px;
    border:none;
    border-radius:10px;
    background:orangered;
    color:white;
    font-size:16px;
    cursor:pointer;
}
.animate{
    animation: fadeIn 0.8s ease;
}
@keyframes fadeIn{
    from{opacity:0; transform:scale(0.9);}
    to{opacity:1; transform:scale(1);}
}
@keyframes slideUp{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}
